<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.erp.mapper.ProcessMeasureCheckMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.erp.bean.vo.ProcessMeasureListVO">
        <id column="p_measure_check_id"  property="pMeasureCheckId"/>
        <result column="process_id" property="processId"/>
        <result column="check_item" property="checkItem"/>
        <result column="cdate" jdbcType="TIMESTAMP" property="cdate"/>
        <result column="measure_data" jdbcType="VARCHAR" property="measureData"/>
        <result column="emp_id"  property="empId"/>
        <result column="result" property="result"/>
        <result column="note" property="note"/>
        <result column="emp_name" property="empName"/>
    </resultMap>
    <sql id="Base_Column_List">
    p_measure_check_id, process_id, check_item, cdate, measure_data, p.emp_id, result,
    note, emp_name
  </sql>

    <select id="selectByPageAndRows" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_measure_check p
        left join employee e on p.emp_id=e.emp_id
        limit #{rows}
        offset #{firstLimitParam}
    </select>

    <select id="count" resultType="int">
        select
        count(*)
        from process_measure_check
    </select>

    <select id="selectByPMeasureId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_measure_check p
        left join employee e on p.emp_id=e.emp_id
        where p_measure_check_id like concat('%',concat(#{searchValue},'%'))
        limit #{pageModel.rows}
        offset #{pageModel.firstLimitParam}
    </select>

    <select id="selectCountByPMeasureId" resultType="int">
        select
        count(*)
        from process_measure_check
        where p_measure_check_id like concat('%',concat(#{searchValue},'%'))
    </select>

    <!--<insert id="insertSelective" parameterType="com.cskaoyan.erp.bean.ProcessMeasureCheck">
        insert into process_measure_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pMeasureCheckId != null">
                p_measure_check_id,
            </if>
            <if test="processId != null">
                process_id,
            </if>
            <if test="checkItem != null">
                check_item,
            </if>
            <if test="cdate != null">
                cdate,
            </if>
            <if test="measureData != null">
                measure_data,
            </if>
            <if test="empId != null">
                emp_id,
            </if>
            <if test="result != null">
                result,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pMeasureCheckId != null">
                #{pMeasureCheckId,jdbcType=VARCHAR},
            </if>
            <if test="processId != null">
                #{processId,jdbcType=VARCHAR},
            </if>
            <if test="checkItem != null">
                #{checkItem,jdbcType=VARCHAR},
            </if>
            <if test="cdate != null">
                #{cdate,jdbcType=TIMESTAMP},
            </if>
            <if test="measureData != null">
                #{measureData,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.erp.bean.ProcessMeasureCheck">
        update process_measure_check
        <set>
            <if test="processId != null">
                process_id = #{processId,jdbcType=VARCHAR},
            </if>
            <if test="checkItem != null">
                check_item = #{checkItem,jdbcType=VARCHAR},
            </if>
            <if test="cdate != null">
                cdate = #{cdate,jdbcType=TIMESTAMP},
            </if>
            <if test="measureData != null">
                measure_data = #{measureData,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                emp_id = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where p_measure_check_id = #{pMeasureCheckId,jdbcType=VARCHAR}
    </update>-->
</mapper>